.leaflet-container{
  position: relative;
  width: 100%;
  max-width: 850px;
  height: 75vh; /* calculate height of the screen minus the heading */
}
  
.rounded-map {
  border-radius: 10px; /* Dostosuj wartość, aby uzyskać pożądane zaokrąglenie */
  overflow: hidden; /* Zapobiega wyświetlaniu zawartości poza zaokrąglonymi rogami */
  border-top: 10px solid #424242; /* Ramka na górze */
  border-bottom: 10px solid #424242; /* Ramka na dole */
  padding-top: 10px; /* Dodatkowy padding na górze, aby odseparować treść od ramki */
  padding-bottom: 10px; /* Dodatkowy padding na dole, aby odseparować treść od ramki */
}