.header{
    background-color: #517703;
    padding: 10px;
    color: #CED4DA;
}

.main-container {
    max-width: 1200px; /* Zwiększamy maksymalną szerokość kontenera */
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    min-height: calc(100vh - 60px);
    background-color: rgba(250, 250, 250, 0.25);
}

.table {
    width: 100%; /* Ustawiamy szerokość tabeli na 100% */
    overflow-x: auto;
}

.form-container {
    margin-top: 20px;
}

.text-input {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.remember-me {
    margin-bottom: 10px;
}

.remember-me label {
    margin-left: 5px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #517703;
    color: #FFFFFF;
    cursor: pointer;
}

.forgot-password a {
    color: #517703;
}
.forgot-password a:hover {
    color: #008caf;
}
.footer {
    margin-top: 20px;
    text-align: center;
}

.footer a {
    color: #517703;
}
.footer a:hover {
    color: #008caf;
}
